<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head><!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://www.googletagmanager.com/gtag/js?id=UA-115362207-1" async></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-115362207-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Search Engine -->
    <meta name="description" content="gogoro 電池地圖查找">
    <meta name="image" content="https://kakadodo.github.io/theF2EChallange/img/week2.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Week 2 - filter">
    <meta itemprop="description" content="gogoro 電池地圖查找">
    <meta itemprop="image" content="https://kakadodo.github.io/theF2EChallange/img/week2.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Week 2 - filter">
    <meta name="og:description" content="gogoro 電池地圖查找">
    <meta name="og:image" content="https://kakadodo.github.io/theF2EChallange/img/week2.jpg">
    <meta name="og:url" content="https://kakadodo.github.io/theF2EChallange/filter.html">
    <meta name="og:site_name" content="Week 2 - filter">
    <meta name="og:locale" content="zh_TW">
    <meta name="fb:admins" content="1420062581">
    <meta name="fb:app_id" content="333459487173924">
    <meta name="og:type" content="website">
    <title>Week 2 - filter</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/filter.css">
  </head>
  <body>
    <div id="app">
      <transition name="fade">
        <div v-if="loading" class="loading d-flex justify-content-center align-items-center flex-column">
          <div class="icon d-flex align-items-center"><i class="fab fa-cloudversify text-goblue"></i><i class="fas fa-motorcycle fa-5x text-goblue"></i></div>
          <div class="info">
            <h2>資料載入中...</h2>
          </div>
        </div>
      </transition>
      <div class="container">
        <div class="row">
          <div class="col-md-4 side_wrapper">
            <div class="side_menu sticky-top">
              <h1 class="logo">GO BETTERY FUN</h1>
              <div :class="{active:filterOpen}" class="filter_area">
                <div class="form-group">
                  <label for="">站點名稱:</label>
                  <input type="text" placeholder="Gogoro 饒河服務中心站" v-model="filterInputData.LocName" class="form-control">
                </div>
                <div class="form-group">
                  <label for="">縣市/區域:</label>
                  <select v-model="filterInputData.City" class="form-control">
                    <option value="">--</option>
                    <option v-for="city in getCity">{{city}}</option>
                  </select>
                  <select v-model="filterInputData.District" v-on:change="filterLists" class="form-control mt-2">
                    <option value="">--</option>
                    <option v-if="filterInputData.City" v-for="dist in getDistrict">{{dist}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="d-block">營運時間:</label>
                  <label for="filter_time" :class="{active:filterInputData.AvailableTime}" class="custom_checkbox">
                    <input id="filter_time" type="checkbox" v-model="filterInputData.AvailableTime">
                  </label><span class="ml-2 align-top">24 HR</span>
                </div>
                <div class="copy_write"><i class="fas fa-pen-square"></i><span>Created by Chelsea Chang</span><small class="d-block">資料來源: <a href="https://wapi.gogoro.com/tw/api/vm/list" target="_blank" class="text-white">gogoro API</a></small></div>
              </div>
              <button v-if="!filterOpen" v-on:click="filterOpen = !filterOpen" class="side_menu_btn"></button>
              <button v-else v-on:click="filterOpen = !filterOpen" class="side_menu_btn cross"><i class="fas fa-times-circle fa-2x"></i></button>
            </div>
          </div>
          <div class="col-md-8 col-lg-7 offset-lg-1 content pt-5">
            <h5 v-if="filterMode" class="filter_result">有<span class="count">{{filterData.length}}</span>項結果符合:</h5>
            <transition-group tag="ul" name="fade" class="filter_lists">
              <!--篩選模式下顯示的列表-->
              <li v-if="filterMode" v-for="data in filterData" :key="data.Id" data-toggle="modal" data-target="#googleMapModal" class="list_item">
                <h2 class="p-3 mb-0"><i class="fas fa-battery-full text-gogreen mr-3"></i>{{JSON.parse(data.LocName).List[1].Value}}</h2>
                <hr class="mt-0">
                <div class="content px-3 py-2">
                  <p><i class="fas fa-map-marker-alt fa-lg fa-fw text-danger mr-3"></i>{{JSON.parse(data.Address).List[1].Value}}</p>
                  <p><i class="fas fa-clock fa-lg fa-fw text-goblue mr-3"></i>{{data.AvailableTime}}</p>
                </div>
                <div v-on:click="showMap(data)" class="cover"><i class="fas fa-map fa-3x"></i>
                  <h4>Google 位置</h4>
                </div>
              </li>
              <!--初始模式下顯示的列表-->
            </transition-group>
            <transition-group tag="ul" name="fade" class="filter_lists">
              <li v-if="!filterMode" v-for="data in pageData[currentPage-1]" :key="data.Id" data-toggle="modal" data-target="#googleMapModal" class="list_item">
                <h2 class="p-3 mb-0"><i class="fas fa-battery-full text-gogreen mr-3"></i>{{JSON.parse(data.LocName).List[1].Value}}</h2>
                <hr class="mt-0">
                <div class="content px-3 py-2">
                  <p><i class="fas fa-map-marker-alt fa-lg fa-fw text-danger mr-3"></i>{{JSON.parse(data.Address).List[1].Value}}</p>
                  <p><i class="fas fa-clock fa-lg fa-fw text-goblue mr-3"></i>{{data.AvailableTime}}</p>
                </div>
                <div v-on:click="showMap(data)" class="cover"><i class="fas fa-map fa-3x"></i>
                  <h4>Google 位置</h4>
                </div>
              </li>
            </transition-group>
            <nav v-if="!filterMode">
              <ul class="pagination justify-content-center">
                <li :class="{disabled: currentPage &lt;= 1}" class="page-item"><a href="#" v-on:click.prevent="movePage('prev')" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                <li v-for="(num,i) in showPages" :class="{active: currentPage == (num+1)}" class="page-item"><a href="#" v-on:click.prevent="movePage(num+1)" class="page-link">{{num+1}}</a></li>
                <li :class="{disabled: currentPage == pagination.length}" class="page-item"><a href="#" v-on:click.prevent="movePage('next')" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div id="googleMapModal" tabindex="-1" role="dialog" class="modal fade">
        <div role="document" class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{modalLocName}}</h5>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIRUyJZX45SNydQS43paAqayP7J-irgVw" async defer></script>
    <script src="./js/filter.js"></script>
  </body>
</html>