@import 'functions';
@import 'mixins';
@import 'variables';
@import 'bootstrap';

$basic_size: 16;
$color_primary: #5BB0C7;
$color_progress: #EFEFEF;
$color_secondary: #EBEBEB;

@mixin ulFormat {
  list-style: none;
  padding-left: 0;
}

@mixin btnStyle {
  width: 50%;
  border-radius: 100px;
  color: #fff;
  transition: transform .3s;

  &:hover {
    transform: scale(1.1);
  }
}

[v-cloak] {
  display: none;
}

body {
  font-size: $basic_size+px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: 'Microsoft JhengHei', 'Segoe UI', Arial, sans-serif;
  background-color: $color_primary;
}

#app {
  height: 100%;
}

.logo {
  width: 100%;
  height: 6rem;
  background-image: url(../img/2nd-week7/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}

.logo_description {
  color: #707070;
  font-size: 0.875rem;
}

.btn_lgw {
  padding: 0.5rem 6rem;
}

.bg_img {
  background-color: #fff;
  background-image: url(../img/2nd-week7/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.bg_primary {
  background-color: $color_primary;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  padding: 10px 0;
  background: $warning;
  border-bottom: 2px solid darken($warning, 10%);
}

.header_title {
  margin: 0;
  text-align: center;
}

.header_back_btn,
.header_menu_btn {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
  background: transparent;
  border: none;
}

.header_menu_btn {
  left: 85%;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 10px;
  border: 1px solid;

  .rotate {
    transform: rotate(45deg);
  }
}

.room_list_group,
.chat_list_group {
  overflow-y: auto;
}

.room_list_item_img,
.chat_list_item_img {
  width: 4rem;
  height: 9vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.room_list_item {
  padding: 15px 30px;
  border: 1px solid #DEDEDE;

  .room_list_item_img {
    margin-right: 1rem;
    background-image: url(../img/2nd-week7/icon_room.svg);
  }

  .media_body_title {
    font-weight: bold;
  }

  .media_body_text {
    font-size: 14px;
  }

  .room_person {
    color: #707070;
  }
}

.chat_list_item {
  position: relative;
  padding: 15px 0;

  .chat_list_item_name {
    display: block;
    color: $warning;
  }

  .chat_list_item_img {
    margin-right: 1.5rem;
    background-image: url(../img/2nd-week7/icon_robot.svg);
  }

  .chat_list_item_time {
    position: absolute;
    left: 80%;
    bottom: -3px;
    color: $info;

    @media(min-width: 381px) {
      left: 90%;
    }
  }

  .media-body {
    position: relative;

    .media_body_text {
      position: relative;
      padding: 15px;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #000;
      font-size: 0.875rem;
    }
  }

  &.user {
    .chat_list_item_img {
      background-image: url(../img/2nd-week7/icon_user.svg);
      order: 1;
      margin-right: 0;
      margin-left: 1.5rem;
    }

    .chat_list_item_time {
      left: 3%;
      bottom: -3px;
    }

    .media-body {

      .media_body_text {
        position: relative;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #000;
        font-size: 0.875rem;
      }
    }
  }
}

.roomTag {
  padding: 15px 0;
  text-align: center;
  border-bottom: 2px solid #DEDEDE;
}

.room_menu,
.mask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#474747, 0.95);
}

.room_menu {
  top: 50px;
  color: #fff;

  .form-group {
    width: 80%;
  }
}

.room_menu_title {
  width: 80%;
  padding: 5px 0;
  font-size: 1.25rem;
  color: #9F9F9F;
}

.room_menu_label {
  font-size: 0.875rem;
}

.mask_content_title {
  padding: 15px 0;
  color: #fff;
}

.mask_content_icon {
  padding: 15px;
  background-color: #fff;
  border-radius: 13px;
}

.toolBox {
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: $info;
}

.input_group {
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;

  .form-control {
    border: none;
    height: 30px;
  }

  .btn {
    color: $warning;
  }
}


// replace bootstrap
.btn {
  border-radius: 0;
}

.custom-control-label {
  font-size: 1.25rem;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #000;
  background-color: #000;
}

.custom-control-input:focus~.custom-control-label::before,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
  box-shadow: 0 0 2px 2px rgba(#000, 0.3);
}

.room_menu .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $info;
  background-color: $info;
}

.room_menu .custom-control-input:focus~.custom-control-label::before,
.custom-control-input:not(:disabled):active~.custom-control-label::before {
  box-shadow: 0 0 2px 2px rgba($info, 0.3);
}

.form-control:focus,
.btn:focus,
.btn.focus {
  box-shadow: none;
}



// emoji picker
.emoji-invoker {
  transition: all 0.2s;
}

.emoji-invoker:hover {
  transform: scale(1.1);
}

.emoji-invoker>svg {
  fill: #b1c6d0;
}

.emoji-picker {
  position: absolute;
  z-index: 1;
  left: 35%;
  top: -320px;
  font-family: Montserrat;
  border: 1px solid #ccc;
  width: 15rem;
  height: 20rem;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 1px 1px 8px #c7dbe6;
}

.emoji-picker__search {
  display: flex;
}

.emoji-picker__search>input {
  width: 100%;
  flex: 1;
  border-radius: 10rem;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  outline: none;
}

.emoji-picker h5 {
  margin-top: 5px;
  margin-bottom: 0;
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: default;
}

.emoji-picker .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emoji-picker .emojis:after {
  content: "";
  flex: auto;
}

.emoji-picker .emojis span {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
}

.emoji-picker .emojis span:hover {
  background: #ececec;
  cursor: pointer;
}