$color_primary:#1469FF;
$color_primarydark:#0027C8;
$color_secondary:#FF3C82;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: $color_primary;
  color: #fff;
}

body{
  overflow-x: hidden;
}

.hide{
  display: none !important;
}

.bg_black{
  background-color: #000;
}

.bg_white{
  background-color: #fff;
}

.bg_primary{
  background-color: $color_primary;
}

.bg_primarydark{
  background-color: $color_primarydark;
}

.bg_secondary{
  background-color: $color_secondary;
}

.ani_opening{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  > * {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    perspective: 100;
  }
  .rect{
    width: 400px;
    height: 400px;
    animation: rectRotate 7s cubic-bezier(.18,.77,1,.91) both;
  }//cubic-bezier(.13,.88,1,.81)
  .circle{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    animation: cirScale 7s cubic-bezier(.18,.77,1,.91) both;
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 255px 150px;
    border-color: transparent transparent $color_secondary transparent;
    transform-origin: center center;
    animation: triRotate 7s cubic-bezier(.18,.77,1,.91) both;
    &:before{
      content:'';
      display: block;
      position: absolute;
      left: -150px;
      top: 40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 255px 150px 0 150px;
      border-color: $color_secondary transparent transparent transparent;
    }
  }
  > h1{
    top: 45%;
    font-size: 64px;
    font-weight: 700;
    animation: textFade .5s 7s linear both;
  }
  > p{
    top: 52%;
    font-size: 24px;
    font-weight: 400;
    animation: textFade .5s 7s linear both;
  }
}

@keyframes textFade{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes rectRotate{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  78%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
  80%{
    transform: translate(-50%,-50%) rotate(-360deg);
  }
  90%{
    transform: translate(-50%,-50%) rotate(-360deg) scale(5);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) rotate(-360deg) scale(5);
    opacity: 0;
  }
}

@keyframes cirScale{
  0%{
    transform: translate(-50%,-50%) scale(1);
  }
  30%{
    transform: translate(-50%,-50%) scale(1.1);
  }
  50%{
    transform: translate(-50%,-50%) scale(1);
  }
  78%{
    transform: translate(-50%,-50%) scale(1.08);
  }
  85%{
    transform: translate(-50%,-50%) scale(1.15);
  }
  95%{
    transform: translate(-50%,-50%) scale(5);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) scale(5);
    opacity: 0;
  }
}

@keyframes triRotate{
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  78%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
  90%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
  95%{
    transform: translate(-50%,-50%) rotate(360deg) scale(15);
    opacity: 1;
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg) scale(15);
    opacity: 0;
  }
}

.questions{
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}

.question{
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  > h2{
    margin: 0;
  }
  .question_content{
    display: none;
    width: 50%;
    padding: 50px;
    h2{
      margin: 10px 0;
      font-size: 64px;
      color: $color_secondary;
    }
    h3{
      margin: 10px 0;
      font-size: 36px;
    }
    p{
      font-size: 24px;
      color: $color_primarydark;
    }
  }
  .question_graphic{
    position: relative;
    width: 50%;
    height: 100%;
  }
  .rect, .circle, .triangle{
    position: absolute;
    display: block;
  }
}

.answer, .restart{
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  background: none;
  cursor: pointer;
  transition: .5s;
  &:hover{
    background-color: #fff;
    color: $color_primary;
  }
}

.q1{
  z-index: 99;
  .rect{
    width: 180px;
    height: 180px;
    top: 100%;
    left: 20%;
    transition: top .8s 1s ease-out;
  }
  .circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 100%;
    left: 50%;
    transition: top .8s 2s ease-out;
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 150px 100px;
    border-color: transparent transparent #fff transparent;
    top: 100%;
    left: 80%;
    transition: top .8s 1.5s ease-out;
  }
  .question_graphic{
    transform: translateX(100%);
    transition: 1s;
  }
  .question_graphic.animate{
    transform: translateX(0);
    .rect{
      top: 20%;
      animation: rotateRight 5s 2s infinite linear;
    }
    .circle{
      top: 70%;
      transform-origin: 55% 50%;
      animation: rotateLeft 5s 2s infinite linear;
    }
    .triangle{
      top: 40%;
      animation: rotateLeft 5s 2s infinite linear;
    }
  }
}

@keyframes rotateRight{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.q2{
  z-index: 98;
  .rect{
    width: 480px;
    height: 480px;
    top: 100%;
    left: -35%;
    transition: top .8s 1.5s ease-out;
  }
  .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 100%;
    left: 30%;
    transition: top .8s 2s ease-out;
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 200px 350px 200px;
    border-color: transparent transparent #fff transparent;
    top: 100%;
    left: 30%;
    transition: top .8s 1s ease-out;
  }
  .question_graphic{
    transform: translateX(-100%);
    transition: 1s;
  }
  .question_graphic.animate{
    transform: translateX(0);
    .rect{
      top: 30%;
      animation: rotateLeft 5s 2s infinite linear;
    }
    .circle{
      top: 55%;
      transform-origin: 55% 50%;
      animation: rotateLeft 5s 2s infinite linear;
    }
    .triangle{
      top: 0%;
      animation: rotateRight 5s 2s infinite linear;
    }
  }
  .question_content{
    p{
      color: $color_primary;
    }
    .answer:hover{
      color: $color_primarydark;
    }
  }
}

.q3{
  z-index: 97;
  .rect{
    width: 330px;
    height: 330px;
    top: 100%;
    left: 25%;
    transition: top .8s 1.5s ease-out;
  }
  .circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    top: 100%;
    left: 60%;
    transition: top .8s 1s ease-out;
  }
  .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 150px 250px 150px;
    border-color: transparent transparent #000 transparent;
    top: 100%;
    left: 65%;
    transition: top .8s 2s ease-out;
  }
  .question_graphic{
    transform: translateX(200%);
    transition: 1s;
  }
  .question_graphic.animate{
    transform: translateX(0%);
    .rect{
      top: 20%;
      animation: rotateLeft 10s 2s infinite linear;
    }
    .circle{
      top: -5%;
      transform-origin: 55% 50%;
      animation: rotateLeft 5s 2s infinite linear;
    }
    .triangle{
      top: 60%;
      animation: rotateRight 5s 2s infinite linear;
    }
  }
  .question_content{
    h2{
      color: #fff;
    }
    h3, p{
      color: #000;
    }
    .answer:hover{
      color: $color_secondary;
    }
  }
}

.step{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: 200%;
  background-position: 100% 0%;
  h2,p{
    display: none;
    margin:0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  h2{
    top: 50%;
    font-size: 64px;
  }
  p{
    top: 55%;
    font-size: 24px;
  }
}

.step_done{
  position: fixed;
  background-color: $color_primary;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/bg-1.svg?alt=media&token=fabbb163-0fb0-49c0-9bac-a4ba177ca9cf');
  .triangle{
    position: absolute;
    left: -100%;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 500px 750px 500px;
    border-color: transparent transparent $color_primarydark transparent;
    transform: rotate(45deg) scale(3);
  }
}

.step_coculate{
  display: none;
  background-color: $color_primarydark;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/bg-2.svg?alt=media&token=4dc29f6e-59b4-460d-95e6-5ff1116aa0c6');
  h2,p{
    opacity: 0;
  }
  .rect{
    position: absolute;
    width: 800px;
    height: 800px;
    top: 100%;
    left: -150%;
    transform: rotate(45deg) scale(3);
  }
}

.step_youare{
  display: none;
  background-color: $color_secondary;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/bg-3.svg?alt=media&token=afc9275f-676f-43ed-aee7-37ba8adc3b82');
  h2,p{
    opacity: 0;
    color: #000;
  }
  .circle{
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    top: 100%;
    left: -125%;
    transform: scale(3);
  }
}

.result{
  position: fixed;
  width: 100%;
  height: 100vh;
  h3, h2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }
  h3{
    margin: 0;
    top: 30%;
    font-size: 24px;
    font-weight: 400;
  }
  h2{
    margin: 0;
    top: 37%;
    font-size: 64px;
    font-weight: 700;
  }
  ul{
    list-style: none;
  }
  li{
    padding: 15px 0;
    font-size: 36px;
    font-weight: 700;
  }
  p{
    line-height: 1.8;
    font-size: 20px;
  }
  .result_content{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 20%;
    opacity: 0;
    transition: 1s 3s;
  }
  &.animate{
    h2{
      animation: resultShowWord 1s forwards, resultH2Move 1s 3s forwards;
    }
    h3{
      animation: resultShowWord 1s forwards, resultH3Move 1s 3s forwards;
    }
    .result_content{
      opacity: 1;
    }
  }
}

@keyframes resultShowWord{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes resultH2Move{
  0%{
    left: 50%;
    top: 37%;
  }
  100%{
    left: 60%;
    top: 18%;
  }
}

@keyframes resultH3Move{
  0%{
    left: 50%;
    top: 30%;
  }
  100%{
    left: 60%;
    top: 11%;
  }
}

.result_triangle{
  li{
    color: $color_primarydark;
  }
  .restart:hover{
    color: $color_primarydark;
  }
}

.result_rect{
  li{
    color: $color_secondary;
  }
  .restart:hover{
    color: $color_secondary;
  }
}

.result_circle{
  h2, h3, p{
    color: #000;
  }
  li{
    color: #fff;
  }
  .restart:hover{
    color: $color_secondary;
  }
}

.trismall{
  position: absolute;
  left: 10%;
  top: -10%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 30px 0px 30px;
  border-color: $color_primarydark transparent transparent transparent;
  transition: 2s 1s;
  &.small2, &.small4, &.small6{
    border-color: #000 transparent transparent transparent;
  }
}

.rectsmall{
  position: absolute;
  left: 10%;
  top: -10%;
  width: 30px;
  height: 30px;
  background-color: $color_secondary;
  transform: rotate(45deg);
  transition: 2s 1s;
  &.small2, &.small4, &.small6{
    background-color: #000;
  }
}

.circlesmall{
  position: absolute;
  left: 10%;
  top: -10%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $color_primary;
  transition: 2s 1s;
  &.small2, &.small4, &.small6{
    background-color: #000;
  }
}

.small2, .small4, .small6{
  left:20%
}

.small3{
  left: 55%;
  transition: 2s 1.8s;
}

.small5{
  left: 85%;
  transition: 2s 1.6s;
}

.small4{
  left: 35%;
  transition: 2s 1.3s;
}

.small6{
  left: 60%;
  transition: 2s 1.5s;
}

.animate{
  .small1, .small5{
    top: 20%;
  }
  .small2, .small6{
    top: 35%;
    animation: moveOut 1s 3s forwards;
  }
  .small3{
    top: 13%;
    animation: moveTwo 1s 3s forwards;
  }
  .small4{
    top: 17%;
    animation: moveOut 1s 3s forwards;
  }
  .small1{
    animation: moveOne 1s 3s forwards;
  }
  .small5{
    animation: moveThree 1s 3s forwards;
  }
}

@keyframes moveOut{
  100%{
    top: -10%;
  }
}

@keyframes moveOne{
  100%{
    left: 48%;
    top: 23%;
  }
}

@keyframes moveTwo{
  100%{
    left: 48%;
    top: 31%;
  }
}

@keyframes moveThree{
  100%{
    left: 48%;
    top: 38%;
  }
}

.tribig{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 40%;
  top: 110%;
  transition: 2s 1s;
}

.tribig.big_1{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/tri-1.svg?alt=media&token=272e67b2-48d5-495f-acfd-6ac94024047d') no-repeat 50% 50%;
  transform: scale(1.3);
  left: 45%;
}
.tribig.big_2{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/tri-2.svg?alt=media&token=1084075f-7500-48c3-bcc6-0f424c5483a4') no-repeat 50% 50%;
  transform: scale(1.6);
  left: 42%;
}
.tribig.big_3{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/tri-3.svg?alt=media&token=50b678ab-9164-466b-9a7b-25db5bf5a9e6') no-repeat 50% 50%;
  transform: scale(1.5);
}

.rectbig{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 35%;
  top: 110%;
  transition: 2s 1s;
}

.rectbig.big_1{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/rect-1.svg?alt=media&token=98fa4b25-a1e0-4840-bbe8-109ba8bc80ae') no-repeat 50% 50%;
  transform: scale(1.3);
  left: 50%;
}
.rectbig.big_2{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/rect-2.svg?alt=media&token=de4b717a-cf67-4fe7-93e4-d75f6a4f227a') no-repeat 50% 50%;
  transform: scale(1.6);
  left: 42%;
}
.rectbig.big_3{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/rect-3.svg?alt=media&token=737b06b4-c37b-4c0c-80b4-b4ee7907a7b7') no-repeat 50% 50%;
  transform: scale(1.5);
}

.circlebig{
  position: absolute;
  width: 300px;
  height: 300px;
  left: 35%;
  top: 110%;
  transition: 2s 1s;
}

.circlebig.big_1{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/circle-1.svg?alt=media&token=b21a616d-e588-4cc8-84d8-c8ae6852e7e1') no-repeat 50% 50%;
  transform: scale(1.3);
  left: 50%;
  transform-origin: 60% 50%;
}
.circlebig.big_2{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/circle-2.svg?alt=media&token=106af464-ada8-4fa4-a360-8b9ad0be1ef0') no-repeat 50% 50%;
  transform: scale(1.6);
  left: 42%;
  transform-origin: 60% 50%;
}
.circlebig.big_3{
  background: url('https://firebasestorage.googleapis.com/v0/b/check-version.appspot.com/o/circle-3.svg?alt=media&token=972809a2-cc4c-42aa-b302-902d972ec744') no-repeat 50% 50%;
  transform: scale(1.5);
  transform-origin: 60% 50%;
}

.animate{
  .tribig, .rectbig, .circlebig{
    top: 70%;
  }
  .big_1{
    animation: big1Move 1s 3s forwards, bigRotateR 10s 4s infinite linear;
  }
  .big_2{
    animation: big2Move 1s 3s forwards, bigRotateL 10s 4s infinite linear;
  }
  .big_3{
    animation: big3Move 1s 3s forwards;
  }
}

@keyframes big1Move{
  100%{
    transform: scale(1);
    left: 20%;
    top: 10%;
  }
}

@keyframes big2Move{
  100%{
    transform: scale(1);
    left: 18%;
    top: 15%;
  }
}

@keyframes big3Move{
  100%{
    transform: scale(1);
    left: 15%;
    top: 25%;
  }
}

@keyframes bigRotateR{
  0%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}

@keyframes bigRotateL{
  0%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: scale(1) rotate(-360deg);
  }
}